@charset "utf-8";
/* CSS Document */

#Table_01{
	margin:0 auto 0 auto;
}

#Table_2{
	border-left:1px solid #999999;
	border-bottom:solid #999999 1px;
	border-right:solid #999999 1px;
	border-top:#999999 solid 1px;	
}
#Table_3{
	border-left:1px solid #999999;
	border-right:solid #999999 1px;
	border-top:#999999 solid 1px;	
}
table td{
	vertical-align:top;
}
.header{
	width:1000;
	height:123;
	}
.footer{
	width:1000;
	height:48;
	}
.input{
	background-image:url(images/bg_kiri.jpg);
	background-repeat:repeat-y;
	background-position:top left;
	padding: 0px 1px 0px 60px;
	}
.analisa{
	background-image:url(images/bg_kiri.jpg);
	background-repeat:repeat-y;
	background-position:top left;
	padding: 0px 0px 0px 60px;
	}
.data{
	background-image:url(images/bg_kanan.jpg);
	background-repeat:repeat-y;
	background-position:top right;
	padding: 0px 65px 0px 0px;
	}